# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: Build And Test

on:
  pull_request:
    branches: [ "main" ]
    
  workflow_dispatch:

jobs:
  Build:
    runs-on: windows-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 10.0.x
        
    - name: Restore dependencies
      run: dotnet restore
      
    - name: Build solution
      run: dotnet build --configuration Release --no-restore
      
    - name: Move snapshots folders inside test folders
      run: |
        $currentLocation = $(Get-Location)
        $snapshotFolders = Get-ChildItem $currentLocation -Recurse -Directory -Filter "Snapshots"
        foreach ($snapshotsFolder in $snapshotFolders) {
            $wantedLocation = Join-Path $snapshotsFolder.Parent.FullName "bin/Release/net10.0/Snapshots"
            Move-Item $snapshotsFolder $wantedLocation
        }

    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: build-output
        retention-days: 1
        path: |
          **/*.Tests/bin/Release/net*/
          !**/ref/*           
          
  Test:
    needs: Build
    runs-on: windows-latest
    steps:
    - name: Download artifact
      uses: actions/download-artifact@v4
      with:
        name: build-output
        retention-days: 1
        path: ./build
        
    - name: Test solution
      run: |
        Get-ChildItem -Path . -Recurse -Filter '*.Tests.exe' | ForEach-Object {
            Write-Host "Running tests in $($_.FullName)"
            & $_.FullName
            if ($LASTEXITCODE -ne 0) { exit $LASTEXITCODE }
        }
